<!-- <div class="maindiv">
  <div class="logo">BIOMART</div>
  <ul class="links">
    <li *ngIf="!loginStatus" [routerLink]="['/']">Home</li>
    <li *ngIf="!loginStatus" [routerLink]="['/login']">Login</li>
    <li *ngIf="!loginStatus" [routerLink]="['/items']">Items</li>
    <li *ngIf="!loginStatus" [routerLink]="['/recipe']">Recipe</li>
    
    <ng-container *ngIf="loginStatus">
      <li [routerLink]="['/']">Home</li>
      <li [routerLink]="['/items']">Items</li>
      <li [routerLink]="['/recipe']">Recipe</li>
      <li [routerLink]="['/cart']">Cart</li>
      <li [routerLink]="['/']" (click)="logout()">Logout</li>
    </ng-container>
  </ul>
</div>.



 -->
 <div class="maindiv">
  <div class="logo">
    <img src="assets/images/logo.jpeg" alt="BIOMART Logo" class="logo-image">
  </div>
  <ul class="links">
    <li *ngIf="!loginStatus" [routerLink]="['/']">Home</li>
    <li *ngIf="!loginStatus" [routerLink]="['/login']">Login</li>
    <li *ngIf="!loginStatus" [routerLink]="['/items']">Items</li>
    <li *ngIf="!loginStatus" [routerLink]="['/recipe']">Recipe</li>
    

    <ng-container *ngIf="loginStatus">
      <li [routerLink]="['/']">Home</li>
      <li [routerLink]="['/items']">Items</li>
      <li [routerLink]="['/recipe']">Recipe</li>
      <li [routerLink]="['/cart']">Cart</li>
      <li [routerLink]="['/']" (click)="logout()">Logout</li>
    </ng-container>
    
  </ul>
  
</div>
<div class="marquee-container">
  <marquee behavior="scroll" direction="left" class="marquee">🌟 Welcome to Bio-Mart 🛒</marquee>

    
    <marquee behavior="scroll" direction="right" class="marquee" scrollamount="5">🌟 Welcome to Bio-Mart 🛒</marquee>
  
</div>
