.maindiv{
  display: flex;
  height: 15vh;

  background-color:green;

}
.logo {
  margin-left: 2vh;
  font-size: 4rem;
  
  padding-top: 4px;
}
.links{
  display: flex;
  align-items: center;
  justify-content: center;
}
li{
  list-style: none;
  margin-left: 15vh;
  cursor: pointer;
  background-color: aliceblue;
  padding: 1vh 5vh 1vh 5vh;
  border-radius: 10px;
}
.falseli{

  list-style: none;
  margin-left: 25vh;
  cursor: pointer;
  background-color: aliceblue;
  padding: 1vh 5vh 1vh 5vh;
  border-radius: 5px;

}



.maindiv {
  display: flex;
  align-items: center;
  background-color: green;
  padding: 20px; /* Adjust padding as needed */
}

.logo {
  margin-right: 20px; /* Adjust margin as needed */
}

.logo-image {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border-radius: 50%;
}
  /* Add your CSS styles here */
  .marquee-container {
    overflow: hidden;
    white-space: nowrap;
  }

  .marquee {
    display: inline-block;
    margin-right: 20px; /* Adjust margin as needed */
    font-size: 1.2em; /* Adjust font size as needed */
    color: #333; /* Adjust text color as needed */
  }


