/* .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: #ffffff;
  }
  
  h2, h3 {
    color: #333;
  }
  
  p {
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
h1{
    text-align: center;
    font-weight: bold;
}
   */
   body {
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.container {
    margin-top: 50px;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px; /* Increase padding for a more spacious look */
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow for depth */
}

h1 {
    text-align: center;
    color: #337ab7; /* Use a color that complements the background */
}

.form-group {
    margin-bottom: 20px;
}

.input-group-addon {
    background-color: #337ab7;
    border: 1px solid #337ab7;
    color: #fff;
}

input.form-control {
    border-radius: 5px;
    margin-bottom: 10px; /* Add space between input fields */
}

button.btn-primary {
    background-color: #337ab7;
    border: 1px solid #337ab7;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

button.btn-primary:disabled {
    background-color: #b0c4de;
    border: 1px solid #b0c4de;
}

button.btn-primary:hover {
    background-color: #23527c; /* Darker shade on hover */
}

a {
    color: #337ab7;
}

a:hover {
    color: #23527c;
    text-decoration: underline; /* Underline on hover */
}
