body {
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
  color: #ca1717;
}

.container {
  margin-top: 50px;
  max-width: 400px;
  background-color: rgba(10, 171, 123, 0.8);
  padding: 20px; /* Increase padding for a more spacious look */
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow for depth */
}

h3{
  text-align: center;
  color: hwb(332 5% 18%);
  font-weight: bold; /* Use a color that complements the background */
}

.form-group {
  margin-bottom: 20px;
}

.input-group-addon {
  background-color: #337ab7;
  border: 1px solid #337ab7;
  color: #1c1010;
}

input.form-control {
  border-radius: 5px;
  margin-bottom: 10px; /* Add space between input fields */
}

button.btn-success {
  background-color:#008000;
  border: 1px solid #337ab7;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

button.btn-primary:disabled {
  background-color: hsl(214, 84%, 32%);
  border: 1px solid hsl(177, 41%, 78%);
}

button.btn-primary:hover {
  background-color: #23527c; /* Darker shade on hover */
}

a {
  color: #337ab7;
}

a:hover {
  color: #23527c;
  text-decoration: underline; /* Underline on hover */
}
