<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        /* Center-align table headings */
        table.table thead tr th {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Customer Data</h1><br />

        <table class="table table-hover table-striped table-sm table-bordered">
            <thead>
                <tr class="table-info text-center">                 
                    <th>Customer Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Confirm Password</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let cust of customers" class="text-center">                   
                    <td>{{ cust.custName }}</td>
                    <td>{{ cust.custPhone }}</td>
                    <td>{{ cust.custEmail }}</td>
                    <td>{{ cust.password }}</td>
                    <td>{{ cust.confirmPassword }}</td>

                    <td><button (click)="updateItem(cust)">Update</button></td>
                    
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="deleteCustomer(cust.id)">
                            <span class="glyphicon glyphicon-trash"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="empModel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Update Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div *ngIf="showUpdateForm">
                    <form [formGroup]="updateForm" (ngSubmit)="submitUpdate()">
                      <input type="text" formControlName="name" placeholder="Name">
                      <input type="text" formControlName="email" placeholder="Email">
                   
                      <input type="text" formControlName="password" placeholder="Password">
                      <button type="submit">Submit Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Angular scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script> <!-- Make sure to replace "app.js" with your actual Angular application file -->
</body>

</html>

