<div class="buttons">
  <button (click)="getVegetable()">Vegetable</button>
  <button (click)="getDairy()">Dairy</button>
  <button (click)="getFruits()">Fruits</button>
  <button (click)="getGrocery()">Grocery</button>
</div>

<div *ngIf="showBackgroundImage" class="backgroundpic">
  <img class="d-block w-100" src="assets/images/grocery-hero.webp" alt="First slide">
</div>


<div style="margin-top: 5vh; margin-bottom: 5vh;"  class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let item of items">
      <div class="card" style="width: 250px; height: 500px; margin-top: 1vh;"> <!-- Set fixed dimensions for the card -->
        <img class="card-img-top" [src]="'assets/images/' + item.prodImage" alt="Card image"
          style="width: 100%; height: 60%; object-fit: cover;">
        <div class="card-body" style="height: 40%; overflow: hidden;"> <!-- Set fixed height and hide overflow -->
          <h4 class="card-title">{{ item.prodName }}</h4>
          <p class="card-text">{{ item.description }}</p>
          <p><b>Price:</b> ₹{{ item.prodPrice }}/-</p>
          <div class="quantity-section">
            <button (click)="decreaseQuantity(item)" class="quantity-btn">-</button>
            <span class="quantity">{{ item.quantity || 1 }}</span>
            <button (click)="increaseQuantity(item)" class="quantity-btn">+</button>
          </div>
          <p align="right"><button (click)="addToCart(item)" class="btn btn-primary">Add to Cart</button></p>
        </div>
      </div>
    </div>
  </div>
</div>