
.buttons {
  margin-top:2vh;
    display: flex;
    justify-content: space-around;
    background-color: #b3d4ec; /* Background color for the navbar */
    padding: 10px; /* Adjust padding as needed */
  }
  
  .buttons button {
    color: white; 
    background-color: #0f0e0e;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #777; 
  }
  .backgroundpic{
    background-color: aqua;
    height: 70vh;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
  } 
  .backgroundpic img{
    height: 80vh;
  }
  .recipe {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }

  .recipe-image {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
  }

  .video-container {
    margin-top: 10px;
  }