body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2, p {
  margin: 0;
}
.recipe-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recipe {
  width: calc(33.33% - 20px); /* Adjust width to fit three cards per row with a gap of 20px */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}
.recipe-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}
.recipe-details {
  padding: 20px;
}
.recipe-details h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}
.recipe-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
.recipe-details p.recipe-description {
  font-size: 16px;
  color: #333;
}
.recipe:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
.video-content {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.vedio-content {
margin-bottom: 20px; /* Add margin between each pair of iframes */
}

.vedio-content iframe {
width: 560px;
height: 315px;
margin-right: 20px; /* Add margin between two iframes */
}

.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input[type="text"] {
  padding: 10px 40px 10px 10px; /* Adjust padding to accommodate the icon */
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
}

.search-bar input[type="text"]:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: none; /* Remove default focus outline */
}

/* Style for search icon */
.search-icon {
  position: relative;
  left: -35px;
  color: #888;
}


