body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h2{
    text-align: center;
    text-decoration: underline;
    font-size: xx-large;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}

.container {
    max-width: 400px; /* Adjust the max-width to your preference */
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 2vh;
}
