<!-- order.component.html -->

<h2>Order Information</h2>

<div class="container">
  <form [formGroup]="orderForm">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" formControlName="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" formControlName="email" required>

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" formControlName="address" required>

    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" formControlName="phone" required>

    <label for="paymentMethod">Select Payment Method:</label>
    <select id="paymentMethod" name="paymentMethod" formControlName="paymenttype" required>
      <option value="phonepay">Phonepay</option>
      <option value="paytm">Paytm</option>
      <option value="card">Credit/Debit Card</option>
      <option value="cash">Cash on Delivery</option>
    </select>

    <button type="button" (click)="order()">Place Order</button>
  </form>
</div>


