#carouselExampleIndicators {
  margin: 20px;
}

.carousel-inner {
  border-radius: 10px;
  overflow: hidden;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure images maintain aspect ratio without stretching */
  border-radius: 10px;
}

.carousel-inner img {
  height: 500px;
}

/* Optional: Add some styles for the controls */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #333;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #555;
}

.about-us p,
.featured-products p,
.contact-us p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.about-us h2,
.featured-products h2,
.contact-us h2 {
  color: #0066cc;
  /* Choose a color that matches your theme */
  margin-bottom: 20px;
}

/* Custom styles for the carousel and other existing styles */

/* Add this to your existing CSS styles */
.specialty-image {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.specialty-item:hover .specialty-image {
  transform: scale(1.1); /* Increase the size on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}

.specialties-card {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to a new line */
  overflow: auto; /* Enable horizontal scrolling if needed */
}

.specialty-item {
  flex: 0 0 auto; /* Do not allow items to shrink or grow, stay at their initial size */
  margin-right: 0; /* Remove the right margin */
  margin-bottom: 0; /* Remove the bottom margin */
}

/* Optional: Add some spacing between the cards */
.specialty-item:not(:last-child) {
  margin-right: 10px; /* Adjust as needed */
}
.specialty2 {
  max-width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.specialty2 .specialty-image {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* or "contain" depending on your preference */
}
.specialty-heading {
  color: #0066cc; /* Choose a color that matches your theme */
  font-size: 24px; /* Adjust the font size as needed */
  margin-bottom: 10px; /* Adjust the margin as needed */
  font-weight: bold; 
  justify-content: center;
  align-items: center;
  margin: auto;/* Optionally, set the font weight to bold */
  padding-left: 500px;
  padding-top: 20px;
}

.card1 {
  width: 300px; /* Set the width of the card */
  margin: 20px; /* Add some margin for spacing */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  overflow: hidden; /* Hide overflow for rounded corners */
}

.card-img-top {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #dee2e6; /* Add a border between image and text */
}

.card-body1 {
  padding: 20px;
  text-align: left;
}

.card-title {
  color: #0066cc;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  color: #555;
}

/* Add hover effect for better interactivity */
.card1:hover {
  transform: scale(1.05); /* Increase size on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a larger shadow on hover */
}
.flex-cards{
  display: flex;
  flex-wrap: wrap;
}


.about-us {
  position: relative;
  height: 400px; /* Set the height of the container */
  overflow: hidden;
}

.about-us::before {
  content: "";
  /* background-image: url('../../assets/images/an1.jpg'); */
  

  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.about-us1 {
  position: relative;
  height: 400px; /* Set the height of the container */
  overflow: hidden;
}

.about-us1::before {
  content: "";
   /* background-image: url('../../assets/images/an2.jpg');  */
  

  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Style for the <h2> heading tag */
h2 {
  color: #333; /* Change the color to your preference */
  font-size: 24px; /* Change the font size to your preference */
}

/* Style for the <p> paragraph tag */
p {
  color: #666; /* Change the color to your preference */
  font-size: 16px; /* Change the font size to your preference */
  line-height: 1.5; 
  font-style: italic;
  color: black;
  font-weight: bold;/* Adjust the line height for better readability */
}
p::first-letter{
  font-size: larger;
  font-weight: bold;
  color:green;
  font-size: 30px;
}
.feedback-container {
  display: flex;
  justify-content: space-around; /* Adjust spacing between feedback sections */
  flex-wrap: wrap;
  background-color:hwb(168 47% 51%); /* Allow wrapping to the next line if needed */
}

.feedback-section {
  text-align: center;
  margin: 20px;
}

.user-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.rating {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rating label:hover,
.rating input:checked ~ label {
  color: #f39c12; /* Change color as needed */
}

.feedback-form {
  max-width: 400px;
  margin: 0 auto;
}

.feedback-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.submit-button {
  background-color: #3498db; /* Change color as needed */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
  
  
  