<div class="container">
    <h1>About Us</h1>
  
    <div class="section">
      <h4>Our Mission</h4>
      <p>We are dedicated to providing a seamless experience for users to book groceries online and explore a diverse range of recipes. Our mission is to make cooking and grocery shopping convenient and enjoyable for everyone.</p>
    </div>
  
    <div class="section">
      <h4>Who We Are</h4>
      <p>We are a passionate team of individuals committed to revolutionizing the way people approach grocery shopping and cooking. Our diverse team brings together expertise in technology, culinary arts, and customer service to deliver the best possible experience for our users.</p>
    </div>
  
    <div class="section">
      <h4>Why Choose Us</h4>
      <ul>
        <li>Wide selection of fresh and quality groceries</li>
        <li>Inspiring collection of recipes for every taste and skill level</li>
        <li>Easy and secure online booking system</li>
        <li>Dedicated customer support to assist you</li>
        <li>Continuous innovation for an enhanced user experience</li>
      </ul>
    </div>
  
    <div class="section">
      <h4>Contact Us</h4>
      <p>If you have any questions, feedback, or inquiries, please feel free to contact us:</p>
      <ul>
        <li>Email: <a href="mailto:info@example.com">infoexample.com</a></li>
        <li>Phone: +1 (555) 123-4567</li>
        <li>Address: 123 Grocery Street, Recipe City, Cookland</li>
      </ul>
    </div>
  </div>
  
