<div class="container">
    <h2>Password Reset Page</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" novalidate>
      <div>
        <input type="email" formControlName="email" placeholder="Email" class="input">
      </div>
  
      <div>
        <input type="password" formControlName="newPassword" placeholder="New Password" class="input">
        <div *ngIf="passwordForm.get('newPassword')?.errors">
          {{ passwordForm.get('newPassword')?.errors | json }}
        </div>
      </div>
  
      <div>
        <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" class="input">
        <div *ngIf="passwordForm.get('confirmPassword')?.errors">
          {{ passwordForm.get('confirmPassword')?.errors | json }}
        </div>
      </div>
  
      <div class="button">
        <button>Reset Password</button>
      </div>
    </form>
  </div>
  