.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: #ffffff;
  }
  
  h2, h3 {
    color: #333;
  }
  
  p {
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  h1{
    text-align: center;
    font-weight: bold;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  /* Additional styles as needed */
  