<div class="container">
    <h1>Payments</h1>
  
    <div class="section">
      <h3>Payment Methods</h3>
      <p>We offer multiple convenient payment methods to make your transactions smooth and secure.</p>
      <ul>
        <li>Credit Card</li>
        <li>Debit Card</li>
        <li>Online Wallets</li>
        <!-- Add more payment methods as needed -->
      </ul>
    </div>
  
    <div class="section">
      <h3>Secure Transactions</h3>
      <p>Your payment information is encrypted and securely processed to ensure the safety of your transactions.</p>
    </div>
  
    <div class="section">
      <h3>Contact Support</h3>
      <p>If you encounter any issues with payments or have questions, please contact our support team:</p>
      <ul>
        <li>Email: <a href="mailto:support@example.com">supportexample.com</a></li>
        <li>Phone: +1 (555) 123-4567</li>
      </ul>
    </div>
  
    <!-- Add more sections as needed -->
  
  </div>
  
