footer {
    background-color:green;
    color: #ffffff6f;
    padding: 10px 0; /* Adjusted padding */
  
    .container {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    h5 {
      color: hwb(73 86% 7%);
      font-size: 1.2rem; 
    }
  
    ul {
      list-style-type: none;
      padding: 0;
    }
  
    li {
      margin-bottom: 6px; 
    }
  
    a {
      color: rgb(225, 235, 233);
      text-decoration: none;
    }
  
    a:hover {
      text-decoration: underline;
    }
  }
  
  