

<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h5>ABOUT</h5>
          <ul>
            <li><a routerLink="/contact">Contact us</a></li>
            <li><a routerLink="/about">About us</a></li>
            <li><a routerLink="/careers">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-5">
          <h5>HELP</h5>
          <ul>
            <li><a routerLink="/payments">Payments</a></li>
            <li><a routerLink="/shipping">Shipping</a></li>
            <li><a routerLink="/cancreturn">Cancellation and Return</a></li>
           
          </ul>
        </div>
        <div class="col-md-1">
          <h5>SOCIAL</h5>
          <ul>
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="https://www.youtube.com/">YouTube</a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
