<h1 style="text-align: center; margin-top: 5vh;">Your Cart</h1>

<div *ngIf="!cartItems || cartItems.length === 0" class="empty-cart-container">
  <div class="empty-cart">
    <img src="assets/images/emptycart.png" alt="">
    <p>Your cart is empty</p>
  </div>
</div>

<div *ngIf="cartItems && cartItems.length > 0" class="cart-items-container">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of cartItems">
        <div class="card">
          <img class="card-img-top" [src]="'assets/images/' + item.prodImage" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">{{ item.prodName }}</h4>
            <p class="card-text">{{ item.description }}</p>
            <p><b>Quantity:</b> {{ item.quantity }}</p>
            <p align="right">
              <button class="btn btn-danger" (click)="removeItem(item)">Remove Item</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="total-price" style="text-align: center;">
    <h3>Total Price: ₹{{ getTotalPrice() }}/-</h3>
  
    <!-- Buttons for Empty Cart and Order Now -->
    <div class="cart-buttons">
      <button class="btn btn-danger" (click)="emptyCart()">Empty Cart</button>
      <button class="btn btn-success" (click)="orderNow()">Order Now</button>
    </div>
  </div>
  
</div>
