/* Add this CSS for styling the images and buttons */
.card {
    margin: 1rem;
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .card-body p {
    margin-bottom: 0.5rem;
  }
  
  
  .total-price {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-buttons {
    margin-top: 1rem; /* Adjust the margin as needed */
  }  
  