/* 
.container {
    margin-top: 50px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .btn-block {
    width: 100%;
  }
  

  .error-message {
    color: red;
    font-size: 14px;
  }
  
  
  body {
    background-color: #f4f4f4;
  }
  
  .row {
    justify-content: center;
  } */
  body {
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.container {
    margin-top: 50px;
    max-width: 400px;
    background-color: rgba(13, 179, 179, 0.8);
    padding: 20px; /* Increase padding for a more spacious look */
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow for depth */
}

h1 {
    text-align: center;
    color: hsl(344, 56%, 46%); /* Use a color that complements the background */
}

.form-group {
    margin-bottom: 20px;
}

.input-group-addon {
    background-color: #337ab7;
    border: 1px solid #337ab7;
    color: #fff;
}

input.form-control {
    border-radius: 5px;
    margin-bottom: 10px; /* Add space between input fields */
}

button.btn-success {
    background-color: hsl(253, 56%, 46%);
    border: 1px solid #337ab7;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

button.btn-success:disabled {
    background-color: green;
    border: 1px solid hsl(214, 96%, 41%);
}

button.btn-success:hover {
    background-color: #23527c; /* Darker shade on hover */
}

a {
    color: #337ab7;
    color: red;
}

a:hover {
    color: green;
    text-decoration: underline; /* Underline on hover */
}
.ancor{
  color: navy;
}