<!-- <div class="container">
  <h2>LOGIN PAGE</h2>
  <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
    <div>
      <input type="email" name="email" #email="ngModel" ngModel required minlength="2"
             maxlength="30" placeholder="Email" class="input">
    </div>

    <div>
      <input *ngIf="!passwordVisible; else showPassword" type="password" name="password" #passwordInput="ngModel"
             [(ngModel)]="actualPassword" required minlength="8" maxlength="20" placeholder="Password" class="input">
      <ng-template #showPassword>
        <input *ngIf="passwordVisible" type="text" name="password" #passwordInput="ngModel"
               [(ngModel)]="actualPassword" required minlength="8" maxlength="20" placeholder="Password" class="input">
      </ng-template>
      <i class="bx bx-hide eye-icon" (click)="togglePasswordVisibility()"></i>
    </div>

    <div>
      <input type="text" name="captcha" #captcha="ngModel" ngModel required
             placeholder="Enter Captcha" class="input">
      <span class="captcha-text">{{ captchaText }}</span>
    </div>

    <div>
      <a routerLink="/passwordreset" class="forgot-pass">Forgot password?</a>
    </div>

    <div class="button">
      <button [disabled]="!loginForm.valid || captcha.value !== captchaText">Login</button>
    </div>
  </form>

  <div class="form-link">
    <span>Don't have an account? <a routerLink="/register">Register</a></span>
  </div>
</div>



 -->



<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<div class="container">
  <h1>Customer Login</h1>

  <form #loginForm="ngForm" (ngSubmit)="loginSubmit()" novalidate>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control" placeholder="Enter Email" name="emailId" [(ngModel)]="emailId" required ngDefaultControl>
      </div>
      <div *ngIf="loginForm.submitted && !emailId">
        Please Enter a Valid Email
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" class="form-control" placeholder="Enter Password" name="password" [(ngModel)]="password" required ngDefaultControl>
      </div>
      <div *ngIf="loginForm.submitted && !password">
        Please Enter Password
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <input type="text" name="captchaInput" [(ngModel)]="captchaInput" required placeholder="Enter Captcha" class="form-control" ngDefaultControl>
        <span class="input-group-addon">{{ captcha }}</span>
      </div>
      <div *ngIf="loginForm.submitted && !captchaInput">
        Please Enter Captcha
      </div>
      <div *ngIf="loginForm.submitted && captcha !== captchaInput">
        Incorrect Captcha. Please try again.
      </div>
    </div>

    <!-- Forgot Password Link on the right side -->
    <div class="form-group text-right">
      <a routerLink="/passwordreset">Forgot Password?</a>
    </div>

    <button [disabled]="loginForm.invalid || captcha !== captchaInput" class="btn btn-success btn-block" (click)="loginSubmit()">Login</button>
  </form>

  <div>
    <p>Don't have an account? <a routerLink="/register" class="ancor">Register here</a></p>
  </div>
</div>
