/* recipet.component.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 50px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  p {
    margin: 10px 0;
  }
  
  strong {
    font-weight: bold;
  }
  
  h3 {
    margin-top: 20px;
    color: #333;
  }
  
  /* Add any additional styling as needed */
  