<!-- recipet.component.html -->

<div class="container">
    <h2>Order Receipt</h2>
    
    <div *ngIf="orderDetails">
      <p><strong>Name:</strong> {{ orderDetails.name }}</p>
      <p><strong>Email:</strong> {{ orderDetails.email }}</p>
      <p><strong>Address:</strong> {{ orderDetails.address }}</p>
      <p><strong>Phone:</strong> {{ orderDetails.phone }}</p>
      <p><strong>Payment Method:</strong> {{ orderDetails.paymenttype }}</p>
  
      <!-- Display other order details as needed -->
  
      <h3>Total Price: ₹{{ orderDetails?.totalPrice }}/-</h3>
  
      <p>Thank you for shopping with us!</p>
    </div>
  </div>
  
