

div {
    max-width: 600px;
    margin: auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold; 
  }
  
  p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 20px; 
    font-weight: 350; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

ul {
    list-style-type: none;
    padding: 2px;
  }
  
  li {
    margin-bottom: 20px; 
    font-size: 18px; 
    line-height: 1.4;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-style: italic; 
  }
  
  a:hover {
    text-decoration: underline;
  }
  span {
    font-weight: bold; /* Make the content within <span> elements bold */
  }